.editorCon {
  margin: -24px -24px 0;
  .editorHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0 20px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    .headerInput {
      flex: 2;
      color: #333;
      font-size: 24px;
      border: none;
    }
    .rightBtnCon {
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
  }
  .editBody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .editBodyLeft {
      flex: 2;
      background: #fff;
      border-right: 1px solid #ddd;
      .footerCon {
        padding: 0 20px;
        border-top: 1px solid #ddd;
      }
    }
    .editBodyRight {
      flex: 1;
    }
  }
}

:global {
  .my-block-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 8px;
    background-color: lightblue;
    box-shadow: 0 5px 20px rgba(192, 57, 43, 0.1);
  }
  .bar-block-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .my-block-bar,
  .foo-block-element {
    margin: 10px;
    padding: 30px;
    border-radius: 5px;
    color: #fff;
  }
  .foo-block-element {
    background-color: #08a9fe;
    box-shadow: 0 5px 20px rgba(8, 169, 254, 0.1);
  }
}
